html {
    font-family: Arial, Helvetica, sans-serif;
}

.tile {
    width: 16px;
    height: 16px;
    background-color: grey;
    flex-shrink: 1;
}

#main {
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

#divider {
    background-color: black;
    width: 20px;
    height: auto;
}

#left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right-side {
border: 2px;
}

header {
    text-align: center;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
}


#squares {
        display: flex;
        flex-wrap: wrap;
        height: 256px;
        width: 256px;
    }