html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(234, 234, 234);
}

.tile {
    width: 16px;
    height: 16px;
    background-color: grey;
    flex-shrink: 1;
}

#main {
    display: flex;
    justify-content: space-around;
    gap: 30px;

}

#divider {
    background-color: black;
    width: 20px;
    height: auto;
}

#left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#right-side {
width: 500px;
height: 500px;
border: 5px;
border-color: black;
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
gap: 25px;
}

header {
    text-align: center;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
}


#squares {
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        width: 500px;
    }

    #resize {
        width: 70px;
        height: 40px;
    }

    #my-range {
        
    }